spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/benezinho-pf-entregas?createDataBaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
